body{
    margin: 25px;
    background-color: rgb(245, 245, 245);
    font-family: sans-serif;
}
h1,h2{
    text-align: center;
}
.tag{
    color: rgb(194, 6, 6); 
}
.tag::before{
    content: "<";
}
.tag::after{
    content: ">";
}

.html{
    background-color: rgb(225, 225, 225);
    color: rgb(194, 6, 6);
}

div.html span{
    color: black;
}
footer .tags span{
    background-color: rgb(220, 220, 220);
    color: rgb(96, 164, 166);
}
