body{
    margin: 25px;
    background-color: rgb(245, 245, 245);
}
h1,h2{
    text-align: center;
}
.tag{
    color: rgb(194, 6, 6); 
}
.tag::before{
    content: "<";
}
.tag::after{
    content: ">";
}

.html{
    background-color: rgb(225, 225, 225);
}
xmp{
    color: rgb(194, 6, 6);
}
.lt_gt{
    
    color: rgb(194, 6, 6); 
}